.main{
    display:flex;
    background-color: blue;
    color:white;
    padding: 10px;
    gap:10px;
    flex-direction: row;
    justify-content: space-evenly;
}
.img{
   height: 400px;
   width: 300px;
}

nav>ul>li{
    list-style-type: none;
    display: inline;
}

nav>ul>li>a{
    text-decoration: none;
    color: white;
    background-color: 0ranges;
    padding: 10px;
}
nav>ul>li>a:hover{
   background-color: red;
   color: darkgreen;
}
