body{
background-image: url("17.png");
  background-repeat: no-repeat;     
  background-size: cover;           
  background-attachment: fixed;     
  background-position: center;  
  color: red; 
 font-family: Arial, sans-serif ;
 padding-top: 60px;
 margin: 0;
 
}
.main{
 display:flex;
 font-family: 'Poppins', sans-serif;
 padding: 10px;
 gap:3x;
 flex-direction: row;
 justify-content: space-evenly;
gap: 20px;
}
.welcome{
    color: blue;
 font-size: 2.5rem;
 text-align: center;
 animation: bounce 2s infinite alternate;

 }
 @keyframes bounce {
    from { transform: translateY(0); }
    to { transform: translateY(-15px); }
}

/*welcome text*/
.welcome {
  text-align: center;
  padding: 15px;
  font-weight: bold;
  font-size: 1.6rem;
}

.main {
  padding: 10px;
}
.carousel-item img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}
@media (max-width: 600px) {
  .carousel-item img {
    max-height: 250px;
  }
}
article {
  text-align: center;
  margin-top: 20px;
}

article ul {
  list-style-type: none;
  padding: 0;
}

footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
  width: 100%;
}
.article{
background-color: rgba(0, 0, 0, 0.658);
width: 70%;
height: 100%; 
margin-left: 20px; 
margin-bottom: 0;
border-radius: 25px ;
padding: 2% 2%;
}
.social-icons { 
background-color: rgba(173, 216, 230, 0.582);
display:flex;
 gap:5px;
align-items:center;
 }
.social-icons a { 
 color:#2a0369; 
 font-size:20px;
text-decoration:none;
 margin-left: 5%;
 }
.social-icons a:hover {
 opacity:0.8;
 color: honeydew;
 }

